<a class="navbar-brand" href=""> <img src="{{ asset('img/LOGOHUNT3.png') }}" alt="logo">HUNT KINGDOM </a>
<div align="<i><h2>Reference Reclamation</h2>  {{ Reclamation.id}}</i>" ></div>
  <i> <h2>Type Reclamation</h2>  {{ Reclamation.typeReclamation }}</i>
   <i><h2>Description Reclamation</h2>  {{ Reclamation.description }}</i>
<i>  <h2>Date  Reclamation</h2>  {{ Reclamation.dateReclamation |date("d/m/y") }}</i>
<i>  <h2>Date Achat</h2>  {{ Reclamation.dateAchat|date("d/m/y") }}</i>
</i> <h2>Email</h2>  {{ Reclamation.email }} </i>

 <h2><i><br><a>Votre Reclamation est traitée et notre service a changé ton article</a></br></i>
<i>  <br>Nos sincères excuses</br></i>


<i><br>Service Après-Vente Hintkingdom</br></i></h2>

