<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<body class="profile-page">
<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">HUNT KINGDOM Profile </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ambulance"></i> Urgence
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="{{ path('emergency_homepage') }}" class="dropdown-item">
                            <i class="material-icons">add_alert</i> Urgence
                        </a>

                        <a href="{{ path('emergency_expedition') }}" class="dropdown-item">
                            <i class="material-icons">queue</i> Expedition
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_homepage') }}">
                        <i class="fa fa-home"></i> Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                        <i class="material-icons">logout</i> Deconnexion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header header-filter" data-parallax="true" style="background-image:url({% if is_granted('ROLE_CHASSE') %}'img/banner1.jpg'{% elseif is_granted('ROLE_PECHE') %}'img/banner2.jpg'{% endif %});"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{ asset('img/hiclipart.com.png') }}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">{{ app.user }}</h3>
                            {% if is_granted('ROLE_PECHE') %}
                                <h6>PECHEUR</h6>
                            {% elseif is_granted('ROLE_CHASSE') %}
                                <h6>CHASSEUR</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                {% if is_granted('ROLE_PECHE') %}
                    <p>~ Pécher et ne pas se repentir, c'est proprement pécher ~</p>
                {% elseif is_granted('ROLE_CHASSE') %}
                    <p>~ Bonne chasse est celle qui remplit le ventre ~</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#profil" role="tab" data-toggle="tab">
                                    <i class="material-icons">person</i>
                                    Mon Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#urgences" role="tab" data-toggle="tab">
                                    <i class="fa fa-ambulance"></i>
                                    Mes Urgences
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                    <i class="material-icons">scatter_plot</i>
                                    Mes expedition
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content tab-space" style="text-align: center;">
                <div class="tab-pane active text-center gallery" id="profil" >
                    <div class="row">

                        <table class="table table-hover table-dark" style="border-radius: 10px;">
                            <tbody>
                            <tr>
                                <th scope="row">Nom d'utilisateur</th>
                                <td>{{ app.user}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ app.user.nom}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Prenom</th>
                                <td>{{ app.user.prenom}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ app.user.email}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Telephone</th>
                                <td>{{ app.user.telephone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Adresse</th>
                                <td>{{ app.user.adresse}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Penalités</th>
                                <td>{{ app.user.penalite}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-3 ml-auto">
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-dark">Modifier les informations personnelles</a>
                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-dark">Changer le mot de passe</a>
                        <a href="" style="background-color: red;" class="btn btn-dark">Supprimer le compte</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="urgences">
                    <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Emplacement</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in urgence %}
                            <tr>
                                <th scope="row">{{ u.id }}</th>
                                <td>{{ u.adresse|split(' ', 2)|last|split(',', 2)|first }}</td>
                                <td>{{ u.description }}</td>
                                <td> {{ u.date }}</td>
                                <td> {% if u.etat == 0 %} <span style="color: red;" > En cours </span> {% else %} <span style="color: green;" > Terminé </span> {% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="favorite">
                    <div class="row">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Message</th>
                                <th scope="col">Emplacement</th>
                                <th scope="col">Date</th>
                                <th scope="col">Date Debut</th>
                                <th scope="col">Date Fin</th>
                                <th scope="col">Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in expedition %}
                                {% if e.utilisateur.id == app.user.id %}
                                    {% if e.nom != "null" %}
                                <tr>
                                    <th scope="row">EXP{{ e.id }}</th>
                                    <td>{{ e.nom}}</td>
                                    <td>{{ e.message}}</td>
                                    <td>{{ e.lieux }}</td>
                                    <td>Le {{ e.date|date("d M Y") }} </td>
                                    <td> Le {{ e.dateDebut|date("d M Y") }} a {{ e.dateDebut|date("h:i") }}</td>
                                    <td> Le {{ e.dateFin|date("d M Y") }} a {{ e.dateFin|date("h:i") }}</td>
                                    <td>
                                        {% set Now = date('now') %}

                                        {# Calcul Jour Debut Debut #}

                                        {% set Debut = date(e.dateDebut) %}

                                        {# Calcul Jour Fin Fin #}

                                        {% set Fin = date(e.dateFin) %}
                                        {% if Debut.timestamp - (Now.timestamp+3600) > 0 %} <span style="color: red;" > En attente </span> {% elseif  (Debut.timestamp - (Now.timestamp+3600) < 0) and (Fin.timestamp - (Now.timestamp+3600) > 0) %} <span style="color: blueviolet;" > en cours </span> {% elseif  (Fin.timestamp - (Now.timestamp+3600) < 0) and (e.statut == 0) %} <a href="{{ path('user_end_expedition',{'id':e.id}) }}" class="btn btn-dark">Terminer</a> {% elseif  e.statut == 2 %} <span style="color: green;" > Terminé </span> {% elseif  e.statut == 3 %} <span style="color: green;" > archivé </span> {% endif %}</td>
                                </tr>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<footer class="footer text-center ">
    <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
</footer>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>




</body>
<!-- partial -->
<script src="{{ asset('js/profil.js') }}"></script>

</body>
</html>
