{% extends 'base.html.twig' %}

{% block Produits %}

<body>
<!--::header part start::-->

<!-- Header part end-->

<!-- breadcrumb part start-->
<section class="breadcrumb_part single_product_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">

                    <div class="single_product_img">
                        <img src="{{ asset ('img/') }}{{produits.image}}" alt="#" class="img-fluid" style="width:5000px">
                    </div>
                    <div class="{{ asset ('single_product_img') }}">

                    </div>


            </div>
            <div class="col-lg-8">
                <div class="single_product_text text-center">
                    <h3> <br> {{produits.nomProduit}}</h3>
                    <p>
                        {{produits.description}}
                    </p>


                    <div class="card_area">
                        <div class="product_count_area">

                            <div class="product_count d-inline-block">
                                <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                                <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                                <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                            </div>
                            <p>{{produits.prix}} DT</p>
                        </div>
                        <div class="add_to_cart">
                            <a href="#" class="btn_3">Acheter</a>
                            <a href="#" class="btn_3">Louer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!-- subscribe part here -->

<!-- subscribe part end -->

<!--::footer_part start::-->

<!--::footer_part end::-->

<!-- jquery plugins here-->
<script src="{{ asset ('js/jquery-1.12.1.min.js') }}"></script>
<!-- popper js -->
<script src="{{ asset ('js/popper.min.js') }}"></script>
<!-- bootstrap js -->
<script src="{{ asset ('js/bootstrap.min.js') }}"></script>
<!-- easing js -->
<script src="{{ asset ('js/jquery.magnific-popup.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset ('js/swiper.min.js') }}"></script>
<!-- swiper js -->
<script src="{{ asset ('js/mixitup.min.js') }}"></script>
<!-- particles js -->
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset ('js/jquery.nice-select.min.js') }}"></script>
<!-- slick js -->
<script src="{{ asset ('js/slick.min.js') }}"></script>
<script src="{{ asset ('js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset ('js/waypoints.min.js') }}"></script>
<script src="{{ asset ('js/contact.js') }}"></script>
<script src="{{ asset ('js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ asset ('js/jquery.form.js') }}"></script>
<script src="{{ asset ('js/jquery.validate.min.js') }}"></script>
<script src="{{ asset ('js/mail-script.js') }}"></script>
<!-- custom js -->
<script src="{{ asset ('js/custom.js') }}"></script>
</body>
{% endblock %}