{% extends 'baseAdmin.html.twig' %}

{% block admin_pub %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Publicite</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">

                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ajouter une publicite<small></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="#">Settings 1</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left','id':'demo-form2'}}) }}
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="nom"> Nom<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    {{ form_widget(form.nomEntreprise, {'attr': {'class': 'form-control parsley-error'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">Description <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control parsley-error'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="Ddebut" class="col-form-label col-md-3 col-sm-3 label-align">Date Debut</label>
                                <div class="col-md-6 col-sm-6 ">
                                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="Ddebut" class="col-form-label col-md-3 col-sm-3 label-align">Evenement</label>
                                <div class="col-md-6 col-sm-6 ">
                                    {{ form_widget(form.event, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Image <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    {{ form_widget(form.reset, {'attr': {'class': 'btn btn-primary'}}) }}
                                    {{ form_widget(form.soumettre, {'attr': {'class': 'btn btn-success'}}) }}
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Consulter les publicites<small></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">

                                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th>image</th>
                                                <th>action</th>

                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for p in pub %}
                                                <tr>
                                                    <td>{{p.id}}</td>
                                                    <td>{{p.nomEntreprise}}</td>
                                                    <td>{{p.description}}</td>
                                                    <td>{{p.date}}</td>
                                                    <td><img src="{{asset('uploads/images/')}}{{p.image}}"  style="width:400px" /></td>
                                                    <td><a href="{{path ('pub_modifier',{'id':p.id})}}" class="btn btn-primary" >Modifier</a>
                                                        <a href="{{ path('pub_supprimer',{'id':p.id}) }}" class="btn btn-warning" >Supprimer</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}