{% extends 'baseAdmin.html.twig' %}
{% block titleAdmin %} ajout Livraison {% endblock %}
{% block addLiv %}
{{ form_start(form) }}
    <!-- page content -->
    <div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Preventions <small></small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="x_panel">
    <div class="x_title">
        <h2>Livraison</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <br class="" action="" method="post" novalidate>
        <span class="section">Ajouter Livraison</span>
        <br></br>

        <br></br>
    <div class="field item form-group">
        <label class="col-form-label col-md-3 col-sm-3  label-align">Date Livraison<span
                    class="required">*</span></label>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <div class='input-group date' id='myDatepicker2'>
                    {{ form_widget(form.dateliv, {'attr': {'class': 'form-control','placeholder':'DD/MM/YYYY'}}) }}
                    <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                </div>
            </div>
        </div>
    </div>
    <br></br>
        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Livreur<span
                        class="required">*</span></label>
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.Livreur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    <br></br>
    <br class="field item form-group">
    <label class="col-form-label col-md-3 col-sm-3  label-align">Prix Livraison <span
                class="required">*</span></label>
    <div class="col-md-6 col-sm-6">
        {{ form_widget(form.prixliv, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br></br>
    <br></br>
    <div class="form-group">
        <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <div class="profile__sign-in">
                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
            </div>
        </div>
    </div>
    </div>
    </div>
{{ form_end (form) }}
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('admin/vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="{{ asset('admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- Ion.RangeSlider -->
    <script src="{{ asset('admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>

    <script  type="text/javascript">
        $(function () {
            $('#myDatepicker').datetimepicker();
        });

        $('#myDatepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#myDatepicker3').datetimepicker({
            format: 'hh:mm A'
        });

        $('#myDatepicker4').datetimepicker({
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#datetimepicker6').datetimepicker();

        $('#datetimepicker7').datetimepicker({
            useCurrent: false
        });

        $("#datetimepicker6").on("dp.change", function(e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });

        $("#datetimepicker7").on("dp.change", function(e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    </script>

{% endblock %}